body{
    background: linear-gradient(to top, #FFDFDE, #6A7BA2);
    background-repeat: no-repeat;
    color: rgb(39, 39, 39);
    height: 100vh;
    font-family: sans-serif;
    text-align: center;  
}
h1{
    font-size: 2rem;
}
#container{
    
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
}
.box{
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgb(39, 39, 39);
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}
span{
    position: absolute;
    padding: 0;
    margin: 5px;
    height: 75px;
    width: 75px;
    font-family:sans-serif ;
    text-align: center;
    margin-left: -35px;
}
.top{
    border-top: none ;
}
.bottom{
    border-bottom: none ;
}
.left{
    border-left: none;
}
.right{
    border-right: none;
}
.alert{
height: 75px;
width: 125px;
background: #FFDFDE;
position: relative;
z-index: 10;
margin-top: -50%;
border-radius: 20px;
box-shadow: 0 0 75px 2px dimgray;
animation: larger 0.5s;
animation-fill-mode: forwards;
box-sizing: content-box;
padding: 30px;
bottom:50px;
top : 0px ; 
}
button{
    background: dimgray;
    border-radius: 2px;
    color: #FFDFDE;
    border: none;
    outline: none;
}
button:focus{
    background-color: silver;
}
.activebox{
    background: silver;
}
@keyframes larger{
    from {height :  75;width: 125;} to {height: 100;width: 200;}

}

  
  
